<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Certant Consultorios</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="especialidades.html">Especialidades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pacientes.html">Pacientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="profesionales.html">Profesionales</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Turnos
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="sacarTurno.html">Sacar Turno</a></li>
                            <li><a class="dropdown-item" href="consultarTurnos.html">Buscar Turno Por Paciente</a></li>
                            <li><a class="dropdown-item" href="turnosByEspecialidad.html">Buscar Turno Por Especialidad</a></li>
                            <li><a class="dropdown-item" href="turnosByProfesional.html">Buscar Turno Por Profesional</a></li>
                            <li><a class="dropdown-item" href="listadoTurnos.html">Listado de Turnos</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="text-bg-warning p-4">
        <h1>Listado de Profesionales</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Consultorio</th>
                <th scope="col">Matricula</th>
                <th scope="col"></th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody id="tablaProfesionalesId">

        </tbody>
    </table>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalProfesionalId">
        Agregar Profesional
    </button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalHorariosId">
        Agregar Horarios
    </button>

    <!-- Button trigger modal -->

  <div class="modal fade" id="modalHorariosProfesional" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="tituloModalHyE"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="divDatosParaMostrar">
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Aceptar</button>
        </div>
      </div>
    </div>
  </div>

    <!-- Modal Horarios-->
    <div class="modal fade" id="modalHorariosId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar horario a un profesional</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <div class="mb-3">
                            <label for="nombreId" class="form-label">Seleccionar Profesional</label>
                            <select class="form-control" id="comboProfesionales">

                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="inicioConsultaId" class="form-label">Inicio Consulta</label>
                            <select class="form-control" id="comboInicioConsulta">

                            </select>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="botonCargarHorarios">Cargar Horario</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Profesionales-->
    <div class="modal fade" id="modalProfesionalId" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Profesional</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <div class="mb-3">
                            <label for="nombreId" class="form-label">Nombre</label>
                            <input type="text" class="form-control" placeholder="Nombre" id="nombreId">
                        </div>
                        <div class="mb-3">
                            <label for="apellidoId" class="form-label">Apellido</label>
                            <input type="text" class="form-control" placeholder="Apellido" id="apellidoId">
                        </div>
                        <div class="mb-3">
                            <label for="consultorioId" class="form-label">Consultorio</label>
                            <input type="text" class="form-control" placeholder="Consultorio" id="consultorioId">
                        </div>
                        <div class="mb-3">
                            <label for="matriculaId" class="form-label">Matricula</label>
                            <input type="text" class="form-control" placeholder="Matricula" id="matriculaId">
                        </div>
                        <div class="mb-3" id="checkboxConteiner">

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="botonCargarProfesionales">Cargar
                        Profesional</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="resources/profesionalesScript.js"></script>
    <script src="
https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js
"></script>
</body>

</html>