<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Certant Consultorios</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="especialidades.html">Especialidades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pacientes.html">Pacientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="profesionales.html">Profesionales</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Turnos
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="sacarTurno.html">Sacar Turno</a></li>
                            <li><a class="dropdown-item" href="consultarTurnos.html">Buscar Turno Por Paciente</a></li>
                            <li><a class="dropdown-item" href="turnosByEspecialidad.html">Buscar Turno Por Especialidad</a></li>
                            <li><a class="dropdown-item" href="turnosByProfesional.html">Buscar Turno Por Profesional</a></li>
                            <li><a class="dropdown-item" href="listadoTurnos.html">Listado de Turnos</a></li>
                        </ul>
                </ul>
            </div>
        </div>
    </nav>
    <div class="text-bg-warning p-4">
        <h1>Cargar Turno</h1>
    </div>
    <br>
    <br>
    <div class="container text-center">
        <div class="row">
          <div class="col">
            
          </div>
          <br>
          <div class="col">
            <label for="inputDocumentoId" class="form-label">Documento Paciente</label>
            <input class="form-control form-control-lg" type="text" placeholder="Documento" id="inputDocumentoId"><br>
            <label for="comboProfesionalesId" class="form-label">Seleccione Profesional</label>
            <select class="form-control" id="comboProfesionalesId">

            </select><br>
            

            <br>
            
            <button type="button" class="btn btn-primary" id="botonCargarHorariosId">Cargar Horarios</button><br><br>
            <label for="comboSeleccionarHorarioId" class="form-label">Seleccione Horario</label>
            <select class="form-control" id="comboSeleccionarHorarioId">

            </select><br>
            <label for="descripcion" class="form-label">Fecha Turno</label>
            <input class="form-control form-control-lg" type="date" aria-label=".form-control-lg example" id="inputFechaTurno"><br>
            
            <br>

            <div id="containerRadios"></div>
            <br>

            <button type="button" class="btn btn-primary btn-lg" id="botonCargarTurno">Cargar Turno</button><br><br>

          </div>
          <div class="col">
            
          </div>
        </div>
      </div>

    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="resources/turnosScript.js"></script>
    <script src="
https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js
"></script>
</body>

</html>